* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #6d6d6d;
  display: flex;
  align-items: center;
}

#chat {
  border: 2px solid black;
  width: 100vh;
  height: 40rem;
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
  border-radius: 0.6rem;
}

#header {
  color: white;
  padding: 0.4rem 1.2rem;
  font-size: 1.6rem;
  justify-content: center;
  margin-top: auto;
}

#perfil {
  display: inline-block;
}
.bot_icon {
  margin-top: 0.6rem;
}

#msg {
  flex: 1;
  color: white;
  background-color: #000000b3;
  padding-top: 1rem;
  font-size: 1.3rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.message {
  background-color: dodgerblue;
  padding: 0.6rem;
  color: white;
  width: fit-content;
  border-radius: 0.6rem;
  margin-bottom: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
#msg_bot {
  margin-right: 5rem;
}

#msg_client {
  margin-left: auto;
  background-color: white;
  color: black;
}

#footer {
  display: flex;
  padding: 0.3rem;
  margin: auto;
}

.butão {
  width: auto;
  padding: 0.7rem;
  height: 2.5rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  margin: 0.3rem;
}

.butão:hover {
  background-color: white;
  color: dodgerblue;
}

.receitas {
  width: 10rem;
  padding: 0.7rem;
  height: 3.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  margin: 1rem;
}

#dcr{
  
  padding: 1.5rem;
  flex: 1;
  color: white;
  background-color: #000000b3;
  padding-top: 1rem;
  font-size: 1.3rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#conteudo{
  
  border: 2px solid black;
  width: 100vh;
  height: auto;
  
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
  border-radius: 0.6rem;
}

#dcr h1{
  text-align: center;
}
#dcr p{
  text-align: justify;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#dcr h2{
  text-align: center;
  margin-bottom: 1rem;
}
#dcr #img {
 
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1rem;
  
}
